* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto, serif;
    font-weight: 400;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    cursor: pointer;
}

input {
    border: 0;
}

:focus,
 :active {
    outline: none;
}

img {
    vertical-align: top;
}


/*--------------------*/

.global_container {
    width: 1000px;
    margin: 0 auto;
}

h3 {
    font-size: 14px;
}

.container {
    margin: 32px 35px 81px 35px;
}

.header {
    display: flex;
    gap: 81px;
}

.header_logo {
    margin-top: 36px;
}

.header_nav {
    margin-top: 76px;
    display: flex;
    gap: 30px;
}

.img_account:hover,
.img_favorites:hover,
.img_basket:hover {
    opacity: 60%;
}

.new_items:hover,
.clothes:hover,
.shoes:hover,
.accessories:hover,
.sales:hover {
    color: #2e9aad;
}

.header_menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header_menu_nav {
    margin-left: 78px;
    display: flex;
    gap: 22px;
}

.header_menu_search {
    display: flex;
}

.search {
    width: 180px;
    height: 30px;
    background-color: #C4C4C4;
}

.loupe {
    width: 30px;
    height: 30px;
    background-color: #C4C4C4;
}

.loupe:hover {
    background-color: #969494;
}

.button_container {
    margin-top: 82px;
    display: flex;
    gap: 29.83px;
}

.buy_container {
    width: 610.17px;
    height: 500px;
    background-color: #C4C4C4;
    background-image: url(/img/background1.png)
}

.view_choose_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.view_container {
    width: 290px;
    height: 235px;
    background-color: #C4C4C4;
    background-image: url(/img/background2.png);
}

.choose_container {
    width: 290px;
    height: 235px;
    background-color: #C4C4C4;
    background-image: url(/img/background3.png);
}

.buy_container_background {
    width: 420px;
    height: 100px;
    margin-left: 95px;
    margin-top: 133px;
    background: rgba(255, 255, 255, 0.5);
}

.buy_container_text {
    width: 299px;
    height: 46px;
    padding-top: 27px;
    padding-left: 61px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.button_buy {
    width: 250px;
    height: 60px;
    margin-left: 180px;
    margin-top: 120px;
    background-color: #597379;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    background: rgba(89, 115, 121, 0.9);
}

.button_buy:hover,
.button_view:hover,
.button_choose:hover {
    background: rgba(63, 110, 121, 0.9);
}

.view_container_background {
    width: 260px;
    height: 73px;
    margin-left: 15px;
    margin-top: 33px;
    background: rgba(255, 255, 255, 0.5);
    /* color: hsl(60, 100%, 25%); */
}

.view_container_text {
    width: 197px;
    height: 42px;
    padding-top: 15px;
    padding-left: 31px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.button_view,
.button_choose {
    width: 198px;
    height: 48px;
    margin-left: 46px;
    margin-top: 50px;
    background-color: #597379;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(89, 115, 121, 0.9);
}

.choose_container_background {
    width: 260px;
    height: 60px;
    margin-left: 15px;
    margin-top: 33px;
    background: rgba(255, 255, 255, 0.5);
}

.choose_container_text {
    width: 209px;
    height: 21px;
    padding-top: 20px;
    padding-left: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.popular,
.recommend {
    margin-top: 82px;
}

.popular_header,
.recommend_header {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.popular_container,
.recommend_container {
    display: flex;
    gap: 30px;
}

.first_thing,
.second_thing,
.third_thing,
.fourth_thing,
.fifth_thing,
.sixth_thing,
.seventh_thing {
    margin-top: 29px;
}

.first_thing_img:hover,
.second_thing_img:hover,
.third_thing_img:hover,
.fourth_thing_img:hover,
.fifth_thing_img:hover,
.sixth_thing_img:hover,
.seventh_thing_img:hover {
    filter: contrast(.85);
}

.first_thing_price,
.second_thing_price,
.third_thing_price,
.fourth_thing_price,
.fifth_thing_price,
.sixth_thing_price,
.seventh_thing_price {
    margin-top: 7.9px;
    font-weight: 700;
}

.first_thing_name,
.second_thing_name,
.third_thing_name,
.fourth_thing_name,
.fifth_thing_name,
.sixth_thing_name,
.seventh_thing_name {
    opacity: 0.4;
}

.first_thing_text,
.second_thing_text,
.third_thing_text,
.fourth_thing_text,
.fifth_thing_text,
.sixth_thing_text,
.seventh_thing_text {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.footer {
    width: 1000px;
    height: 295px;
    background: #F0F0F0;
}

.footer_container {
    padding: 70px 123px 52px 124px;
}

.footer_wrapper {
    display: flex;
    gap: 130px;
}

.footer_first_column,
.footer_second_column,
.footer_third_column {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.footer_first_column_text,
.footer_second_column_text {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.footer_third_column_link {
    display: flex;
    gap: 15px;
}

.help:hover,
.questions:hover,
.delivery_return:hover,
.contacts:hover,
.company:hover,
.career:hover,
.investor:hover,
.instagram_img:hover,
.telegram_img:hover,
.faceboor_img:hover,
.twitter_img:hover {
    opacity: 60%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 0;
    height: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    font-size: 20px;
    display: inline-block;
    width: 70px;
    text-align: right;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_input,
textarea {
    font: 1em sans-serif;
    font-size: 20px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-left: 20px;
}

textarea {
    vertical-align: top;
    resize: none;
    height: 5em;
}

.form_button {
    font-size: 20px;
    margin-left: 93px;
    /*box-sizing: border-box;*/
    width: 200px;
    border: 1px solid #999;
}

.form_header {
    margin-left: 160px;
    font-size: 20px;
}