doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    title Fashion Shop
.global_container
    .container
        header.header
            .header_logo
                img(src='img/logo.svg' alt='logo' width='160' height='57')
            div
                ul.header_nav
                    a.new_items(href='##') &Ncy;&ocy;&vcy;&icy;&ncy;&kcy;&icy;
                    a.clothes(href='##') &Ocy;&dcy;&iecy;&zhcy;&dcy;&acy;
                    a.shoes(href='##') &Ocy;&bcy;&ucy;&vcy;&softcy;
                    a.accessories(href='##') &Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy;
                    a.sales(href='##') &Scy;&kcy;&icy;&dcy;&kcy;&icy;
            .header_menu
                div
                    ul.header_menu_nav
                        a.img_account(href='##')
                            img(src='img/account.svg' alt='account' width='30' height='30')
                        a.img_favorites(href='##')
                            img(src='img/favorites.svg' alt='favorites' width='30' height='30')
                        a.img_basket(href='##')
                            img(src='img/basket.svg' alt='basket' width='30' height='30')
                .header_menu_search
                    input.search(type='text')
                    button.loupe
                        img(src='img/loupe.svg' alt='loupe' width='20' height='20')
        section.button_container
            .buy_container
                .buy_container_background
                    p.buy_container_text
                        | &Ncy;&ocy;&vcy;&ycy;&iecy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&icy; &ocy;&dcy;&iecy;&zhcy;&dcy;&ycy; &ucy;&zhcy;&iecy; &zhcy;&dcy;&ucy;&tcy; &tcy;&iecy;&bcy;&yacy;
                button.button_buy &Kcy;&ucy;&pcy;&icy;&tcy;&softcy;
            .view_choose_container
                .view_container
                    .view_container_background
                        p.view_container_text
                            | &Vcy;&iecy;&shchcy;&icy; &ocy;&tcy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&ycy;&khcy; &mcy;&icy;&rcy;&ocy;&vcy;&ycy;&khcy; &bcy;&rcy;&iecy;&ncy;&dcy;&ocy;&vcy;
                    button.button_view &Pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy;
                .choose_container
                    .choose_container_background
                        p.choose_container_text
                            | &Ocy;&bcy;&ucy;&vcy;&softcy; &ncy;&acy; &lcy;&yucy;&bcy;&ocy;&jcy; &vcy;&kcy;&ucy;&scy;
                    button.button_view &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;
        section.popular
            h2.popular_header &Pcy;&ocy;&pcy;&ucy;&lcy;&yacy;&rcy;&ncy;&ocy;&iecy;
            .popular_container
                .first_thing
                    a(href='##')
                        img.first_thing_img(src='img/first_thing.png' alt='sneakers' width='210' height='250')
                    p.first_thing_price 284 &rcy;.
                    .first_thing_text
                        p adidas
                        p.first_thing_name / &Kcy;&iecy;&dcy;&ycy;
                .second_thing
                    a(href='##')
                        img.second_thing_img(src='img/second_thing.png' alt='jeans' width='210' height='250')
                    p.second_thing_price 334 &rcy;.
                    .second_thing_text
                        p Levi&apos;s&reg;
                        p.second_thing_name / &Dcy;&zhcy;&icy;&ncy;&scy;&ycy;
                .third_thing
                    a(href='##')
                        img.third_thing_img(src='img/third_thing.png' alt='hoodie' width='210' height='250')
                    p.third_thing_price 189 &rcy;.
                    .third_thing_text
                        p Helly Hansen
                        p.third_thing_name / &KHcy;&ucy;&dcy;&icy;
                .fourth_thing
                    a(href='##')
                        img.fourth_thing_img(src='img/fourth_thing.png' alt='boots' width='210' height='250')
                    p.fourth_thing_price 639 &rcy;.
                    .fourth_thing_text
                        p Dr. Martens
                        p.fourth_thing_name / &Bcy;&ocy;&tcy;&icy;&ncy;&kcy;&icy;
        section.recommend
            h2.recommend_header &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&iecy;&mcy; &vcy;&acy;&mcy;
            .recommend_container
                .fifth_thing
                    a(href='##')
                        img.fifth_thing_img(src='img/fifth_thing.png' alt='t-shirt' width='290' height='300')
                    p.fifth_thing_price 124 &rcy;.
                    .fifth_thing_text
                        p Napapijri
                        p.fifth_thing_name / &Fcy;&ucy;&tcy;&bcy;&ocy;&lcy;&kcy;&acy;
                .sixth_thing
                    a(href='##')
                        img.sixth_thing_img(src='img/sixth_thing.png' alt='sneakers' width='290' height='300')
                    p.sixth_thing_price 869 &rcy;.
                    .sixth_thing_text
                        p New Balance
                        p.sixth_thing_name / &Kcy;&rcy;&ocy;&scy;&scy;&ocy;&vcy;&kcy;&icy;
                .seventh_thing
                    a(href='##')
                        img.seventh_thing_img(src='img/seventh_thing.png' alt='hoodie' width='290' height='300')
                    p.seventh_thing_price 239 &rcy;.
                    .seventh_thing_text
                        p Levi&apos;s
                        p.seventh_thing_name / &KHcy;&ucy;&dcy;&icy;
    footer.footer
        .footer_container
            .footer_wrapper
                .footer_first_column
                    h3 &Pcy;&ocy;&mcy;&ocy;&shchcy;&softcy; &icy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yacy;
                    .footer_first_column_text
                        a.help(href='##') &Pcy;&ocy;&mcy;&ocy;&shchcy;&softcy;
                        .modal
                            .modal_content
                                span.form_header &Zcy;&acy;&dcy;&acy;&jcy;&tcy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;
                                span.close &times;
                                form.form
                                    div
                                        label(for='name') &Icy;&mcy;&yacy;:
                                        input#name.form_input(type='text' name='user_name')
                                    div
                                        label(for='mail') Email:
                                        input#mail.form_input(type='email' name='user_mail')
                                    div
                                        label(for='question') &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;:
                                        textarea#question(name='user_question')
                                    div
                                        button.form_button(type='submit') &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;
                        script(src='script/form.js')
                        a.questions(href='##') &CHcy;&acy;&scy;&tcy;&ocy; &zcy;&acy;&dcy;&acy;&vcy;&acy;&iecy;&mcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
                        a.delivery_return(href='##') &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &icy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;
                        a.contacts(href='##') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
                .footer_second_column
                    h3 &Ocy; &ncy;&acy;&scy;
                    .footer_second_column_text
                        a.company(href='##') &Ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
                        a.career(href='##') &Kcy;&acy;&rcy;&softcy;&iecy;&rcy;&acy; &vcy; Fashion Shop
                        a.investor(href='##') &Scy;&acy;&jcy;&tcy; &icy;&ncy;&vcy;&iecy;&scy;&tcy;&ocy;&rcy;&acy;
                .footer_third_column
                    h3 &Mcy;&ycy; &vcy; &scy;&ocy;&tscy;&scy;&iecy;&tcy;&yacy;&khcy;
                    ul.footer_third_column_link
                        a(href='##')
                            img.instagram_img(src='img/instagram.svg' alt='instagram' width='25' height='25')
                        a(href='##')
                            img.telegram_img(src='img/telegram.svg' alt='telegram' width='25' height='25')
                        a(href='##')
                            img.faceboor_img(src='img/facebook.svg' alt='facebook' width='25' height='25')
                        a(href='##')
                            img.twitter_img(src='img/twitter.svg' alt='twitter' width='25' height='25')
